<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>skarnik.by</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- context param to connect to postgresql database -->
    <context-param>
        <param-name>jdbcDriverName</param-name>
        <param-value>org.sqlite.JDBC</param-value>
    </context-param>

    <context-param>
        <param-name>jdbcUrl</param-name>
        <param-value>jdbc:sqlite:database/skradnik.db</param-value>
    </context-param>

    <!--Path to log4j properites file-->
    <context-param>
        <param-name>logFileProperties</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

    <!--Listener for init db connection-->
    <listener>
        <display-name>Init DB connection</display-name>
        <listener-class>by.minsler.skarnik.db.DAOInitializer</listener-class>
    </listener>

    <!--Listner to init logger-->
    <listener>
        <display-name>Init Log4j</display-name>
        <listener-class>by.minsler.skarnik.log.Log4jInit</listener-class>
    </listener>

    <!--Controller to translate world-->
    <servlet>
        <servlet-name>TranslateController</servlet-name>
        <servlet-class>by.minsler.skarnik.controller.TranslateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranslateController</servlet-name>
        <url-pattern>/translate</url-pattern>
    </servlet-mapping>

    <!--Controller to using autocomplete: for getting keys by first letters -->
    <servlet>
        <servlet-name>AutoCompleteController</servlet-name>
        <servlet-class>by.minsler.skarnik.controller.AutoComplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteController</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>

</web-app>